@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Secular+One&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-xs-ss{
  font-size: 10px;
  font-family: 'Varela Round', sans-serif !important;
}

.text-xs-ss-1{
  font-size: 8px;
  font-family: 'Varela Round', sans-serif !important;
}

.bordering_tebles_{
  border: 1px solid black;
}

.bordering_tebles_1{
 
  border: 1px solid black;
}

.sdfsdf{
  width: 800px;
}

.text-xs-xx{
  font-size: 9px;
}

.absoulte_date_page_four1{
  position: absolute;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 9px;
}

.absoulte_date_page_four2{
  position: absolute;
  margin-right: 70px;
  margin-top: -1px;
  font-size: 9px;
}

.absoulte_date_page_four3{
  position: absolute;
  margin-right: 88px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four4{
  position: absolute;
  margin-right: 57px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four5{
  position: absolute;
  margin-right: 105px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four6{
  position: absolute;
  margin-right: 160px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four7{
  position: absolute;
  margin-right: 120px;
  margin-top: -1px;
  font-size: 9px;
}

.absoulte_date_page_four8{
  position: absolute;
  margin-right: -520px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four9{
  position: absolute;
  margin-right: 10px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four10{
  position: absolute;
  margin-right: 460px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four11{
  position: absolute;
  margin-right: -450px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four12{
  position: absolute;
  margin-right: 490px;
  margin-top: -1px;
  font-size: 9px;
}

.absoulte_date_page_four13{
  position: absolute;
  margin-right: -340px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four14{
  position: absolute;
  margin-right: 340px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four15{
  position: absolute;
  margin-right: 400px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four16{
  position: absolute;
  margin-right: 130px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four17{
  position: absolute;
  margin-right: 40px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four18{
  position: absolute;
  margin-right: 100px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four19{
  position: absolute;
  margin-right: 70px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four20{
  position: absolute;
  margin-right: 355px;
  margin-top: -1px;
  font-size: 9px;
}
.absoulte_date_page_four21{
  position: absolute;
  margin-right: -360px;
  margin-top: -1px;
  font-size: 9px;
}

.sizeingForDivsModals{
  height: 35rem;
}

.sizeForModals{
  height: 45rem;
}

.secular-one-regular {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}